<% provide(:title, 'Bookmark App') %>
<div class="center hero-unit">
 <h1>bookmark Help</h1>
   <h2>
    This is the help page for the Bookmark application.
  </h2>

  <%= link_to "Bookmark Home", '/', class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>

